<!doctype html>
<html>
  <head>
    <title>Project Fwitter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body> 
      
    <div class="container">
      <h1><a href="/">Welcome to Fwitter!</a></h1>
    
     <% if session[:user_id] != nil %>
      <a href="/logout">Logout</a>
      <% end %>


      <%= yield %>


    
    </div>
  </body>
</html>