

      <h3>Fweets:</h3>
      <% @tweets.each do |tweet|%>
        <p><strong><%=tweet.user.username %></strong> - <%= tweet.message %></p>
      <% end %>


      <h3>Add A Fweet:</h3>
      <form action="/tweets" method="POST">
        <input type="hidden" name="user_id" value= <%= session[:user_id] %> >

        Message: <input class="form-control" type="text" name="message">
        <input type="submit" class="btn btn-default">
      </form>
 