<!doctype html>
<html>
  <head>
    <title>Project Fwitter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body> 
    <div class="container">
      <h1>Fwitter Accounts:</h1>
      <% @tweets.each do |tweet|%>
        <h1><%=tweet.user%> - <%= tweet.message %></h1>

      <% end %>

      <form action="/tweets" method="POST">
        User: <input type="text" name="user">
        Message: <input type="text" name="message">
        <input type="submit">
      </form>
    
    </div>
  </body>
</html>